body {
  background-color: skyblue;
}

.card {
  float: left;
  width: 120px;
  height: 120px;
  border: 1px solid black;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  border-radius: 50%;
}

.clouds {
  background-color: white;
  width: 200px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
}
.cloud1 {
  top: 180px;
}
.cloud2 {
  top: 140px;
  right: 380px;
}
.cloud3 {
  top: 200px;
  right: 330px;
}
